.song-container {
  min-height: 60vh;
  display: flex; //flex allows us to use things like align-items, justify-content etc
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
